body {
  min-height: unset !important;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 0 10px;
}

body > .ui.segment.pushable {
  display: flex;
  overflow: hidden;
}

body > .ui.segment.pushable > .pusher {
  overflow: auto;
  width: 100%;
}
