.ui.top.menu.dashboard-header {
  justify-content: space-between;

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

  &:after {
    content: none;
  }

  .logo {
    height: 30px; 
    margin: 5px;
  }

  .header-part {
    display: flex;
    align-items: center;
  }
}

body.no-margin .ui.top.menu.dashboard-header {
  border-radius: 0;
}
