.dashboard-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

@each $size, $width in $sizes {
  .dashboard-title#{generate-size-selector($size)} {
    width: #{$width}px;
  }
}

/*--------------
     Colors
-------------- */

.ui.dashboard-title {
  background-color: rgba(255, 255, 255, 0.9);
  color: rgba(0, 0, 0, 0.87);
}

.ui.inverted.dashboard-title {
  color: rgba(255, 255, 255, 0.9);
}

.ui.inverted.dashboard-title {
  background-color: #1B1C1D;
}

@each $color, $hash in $colors-map {
  .ui.inverted.#{$color}.dashboard-title {
    background-color: $hash;
  }
}
