@use "sass:string";

@function generate-size-selector($size) {
  @if $size == "" {
    @return "";
  }
  @if str-index($size, " ") {
      @return "[class*='" + $size + "']";
  } @else {
      @return "." + $size;
  }
}
